{% extends 'base.html'%}

{% block content %}

<div class="col-md-6 offset-md-3">

<h1>Bookings</h1>
<br/>

<form method="post" action="{% url 'common_booking_view' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Filter</button>
</form>

<br/>
</div>

<div id="calendar"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    eventClick: function(info) {
      var eventObj = info.event;

      if (eventObj.url) {
        alert(
          'Clicked ' + eventObj.title + '.\n' +
          'Will open ' + eventObj.url + ' in a new tab'
        );

        window.open(eventObj.url);

        info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
      } else {
        alert('Clicked ' + eventObj.title);
      }
    },
    events: [
      {% for booking in bookings %}
        {
          title: '{{ booking.booked_by }}',
          start: '{{ booking.from_date|date:"Y-m-d H:i" }}',
          end: '{{ booking.to_date|date:"Y-m-d H:i" }}',
          url: '{http://127.0.0.1:8000/view_siteinfo}',
        },
      {% endfor %}
    ]
  });

  calendar.render();
});
</script>
      </tbody>
  </table>
  <a href="{% url 'book_resource' %}" class="btn btn-secondary">Make Booking</a>

{% endblock %}