{% extends 'base.html'%}

{% block content %}
{% load static %}
    {% if user.is_authenticated %}

    <div class="container mt-5">
      <div class="row">
          <div class="col-md-2">
            <a href="{% url 'reserve_alphacode' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/alphar.png' %}" width="130" height="130" >
              Reserve Alpha Code 
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'view_siteinfo' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/site info.png' %}" width="130" height="130">
              View Site Information
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'test_pass' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/RF.png' %}" width="130" height="130">
              Create RF Compliance Report
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'add_record' %}" class="btn btn-secondary flex-fill btn-block mb-2" >
              <img src="{% static '/images/tnet.png' %}" width="130" height="130">
              Create TNET Form Data
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'test_pass' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/cell d.gif' %}" width="130" height="130">
              Create Cell Data File
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'common_booking_view' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/vb.png' %}" width="130" height="130">
              Book Shared Resources
            </a>
          </div>
          <div class="col-md-2">
            <a href="{% url 'create_work_request' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/service request.png' %}" width="130" height="130">
              Work Requests
            </a>
          </div>
      </div>
  </div>

    
    
    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
    </div>


    {% endif %}

{% endblock %}