{% extends 'base.html'%}

{% block content %}
{% load static %}
    {% if user.is_authenticated %}

    <div class="container mt-5">
      <div class="row">
          <div class="col-md-6">
            <a href="{% url 'reserve_alphacode' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/alpha.jpg' %}" width="130" height="130" >
              Reserve Alpha Code 
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'view_siteinfo' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/site info.jpg' %}" width="130" height="130">
              View Site Information
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'test_pass' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/RF.png' %}" width="130" height="130">
              Create RF Report
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'add_record' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/tnet.png' %}" width="130" height="130">
              Create TNET
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'test_pass' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/cell data.jfif' %}" width="130" height="130">
              Create Cell Data
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'common_booking_view' %}" class="btn btn-secondary flex-fill btn-block mb-2">
              <img src="{% static '/images/vehicle book.jfif' %}" width="130" height="130">
              Book Resource
            </a>
          </div>
      </div>
  </div>

    
    
    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
    </div>


    {% endif %}

{% endblock %}