{% extends 'base.html'%}

{% block content %}

    {% if user.is_authenticated %}
    <div>
    
    <a href="{% url 'reserve_alphacode' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      Reserve Alpha Code 
    </a>
        
    <a href="{% url 'view_siteinfo' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      View Site Information
    </a>

    <a href="{% url 'create_rfreport' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      Create RF Report
    </a>

    <a href="{% url 'create_tnet' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      Create TNET
    </a>

    <a href="{% url 'create_celldata' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      Create Cell Data
    </a>

    <a href="{% url 'view_bookings' %}" class="btn btn-secondary">
      <img src="D:\DevProject\SparkProject\sparkrf\website\static\images\alpha.jpg" width="30" height="30">
      Book Resource
    </a>

    </div>
    
    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
    </div>


    {% endif %}

{% endblock %}