{% extends 'base.html' %}
{% block content %}



<div class="card">
  <!-- <div class="card-header"><strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body"> -->
<!-- <p class="card-text">
<strong>Email: </strong>{{ customer_record.email }}</p>

<p class="card-text">
<strong>Phone: </strong>{{ customer_record.phone }}
</p>

<p class="card-text">
<strong>Address: </strong>{{ customer_record.address }}</p>

<p class="card-text">
<strong>City: </strong>{{ customer_record.city }}</p>

<p class="card-text">
<strong>State: </strong>{{ customer_record.state }}</p>

<p class="card-text">
<strong>Zipcode: </strong>{{ customer_record.zipcode }}</p>

<p class="card-text">
<strong>Create At: </strong>{{ customer_record.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p> -->

  <div class="card-header"><strong>
    {{ customer_record.site_name }} 
    {{ customer_record.site_alpha }}</strong>
  </div>
  <div class="card-body"> 

  <p class="card-text">
  <strong>Site Name: </strong>{{ customer_record.site_name }}</p>
      
  <p class="card-text">
  <strong>Site Alpha: </strong>{{ customer_record.site_alpha }}</p>
      
  <p class="card-text">
  <strong>Planned On Air Date: </strong>{{ customer_record.proposedRFS_date }}</p>
      
  <p class="card-text">
  <strong>Transportable: </strong>{{ customer_record.transportable_cow }}</p>
      
  <p class="card-text">
  <strong>COW Name: </strong>{{ customer_record.cow_name }}</p>
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'download_xl' customer_record.id %}" class="btn btn-secondary">Download</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>

{% endblock %}
