{% extends 'base.html'%}

{% block content %}

    {% if user.is_authenticated %}
    <div>
    <h1>Records</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Site Name</th>
          <th scope="col">Site Alpha</th>
          <th scope="col">Planned On Air Date</th>
          <th scope="col">Transportable</th>
          <th scope="col">COW Name</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>

    {% if records %}
        {% for record in records %}
        <tr>
          <td>{{record.site_name }}</td>
          <td>{{record.site_alpha}}</td>
          <td>{{ record.proposedRFS_date }}</td>
          <td>{{ record.transportable_cow }}</td>
          <td>{{ record.cow_name }}</td>
          <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
        </tr>
        {% endfor %}
      </div>
        
    {% endif %}

        </tbody>
    </table>
    <a href="{% url 'test_pass' %}" class="btn btn-secondary">Update from Atoll DB</a>

    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
    </div>


    {% endif %}

{% endblock %}