{% extends 'base.html'%}

{% block content %}

    {% if user.is_authenticated %}
    <div>
    <h1>Bookings</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Resource Name</th>
          <th scope="col">Booked By</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Booking Reference</th>
        </tr>
      </thead>
      <tbody>

    {% if bookings %}
        {% for booking in bookings %}
        <tr>
          <td>{{booking.asset_name }}</td>
          <td>{{booking.booked_by}}</td>
          <td>{{ booking.from_date }}</td>
          <td>{{ booking.to_date }}</td>
          <td>{{ booking.purpose }}</td>
          <td><a href="{% url 'booking_record' booking.id %}">{{ booking.id }}</a></td>
        </tr>
        {% endfor %}
      </div>
        
    {% endif %}

        </tbody>
    </table>
    <a href="{% url 'book_resource' %}" class="btn btn-secondary">Make Booking</a>

    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
    </div>


    {% endif %}

{% endblock %}